<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Docker</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto 100px 300px 80px 80px;
            grid-gap: 1px;
            background-color: black;
            padding: 2px;
        }

        .grid-container div {
            background-color: white;
        }

        .grid-header div {
            font-weight: bold;
            background-color: #4CAF50;
            color: white;
            text-align: center;
        }

        .row {
            grid-column: 1 / span 5;
        }

        .btn {
            border: 1px solid transparent;
            cursor: pointer;
            vertical-align: middle;
            text-align: center;
            color: white;
            background: #124a8e;
            padding: 5px 10px;
            border-radius: 3px;
            text-decoration: none;
        }

        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>HOME</h2>
    <div id="app">
        <btn-loader class="btn" :click="reloadData" :label="'Reload'" :loading="loading"></btn-loader>
        <div class="grid-container grid-header">
            <div>Container name</div>
            <div>Status</div>
            <div>Ports</div>
            <div>Action</div>
            <div>Delete</div>
        </div>
        <template>
            <container-row v-for="container in containers" v-bind:key="container.id"
                v-bind:container="container" :onstart-stop="startStop.bind(null, container)"
                :ondelete="onDelete.bind(null, container)">
            </container-row>
            <service-row v-for="service in services" v-bind:key="service.name" v-bind:service="service"
                :onstart-stop-container="startStop" :ondelete-container="onDelete"></service-row>
        </template>
    </div>
    <script>
        const loadData = (data) => {
            data.loading = true;
            return fetch("/containers")
                .then(res => res.json())
                .then(res => {
                    data.containers = (res.containers || []).map(container => {
                        container.loading = false;
                        return container;
                    });
                    data.services = (res.services || []).map(service => {
                        service.containers = service.containers.map(container => {
                            container.loading = false;
                            return container;
                        })
                        return service;
                    });
                    data.loading = false;
                })
                .catch(() => {
                    data.loading = false;
                });
        }

        Vue.component('service-row', {
            props: {
                service: Object,
                onstartStopContainer: Function,
                ondeleteContainer: Function,
            },
            template: `<div class="row grid-container">
                <div class="row">{{ service.name }}</div>
                <container-row v-for="container in service.containers" v-bind:key="container.id"
                                v-bind:container="container" 
                                :onstart-stop="onstartStopContainer.bind(null, container)"
                                :ondelete="ondeleteContainer.bind(null, container)">
                            </container-row></div>`
        });

        Vue.component('container-row', {
            props: {
                container: Object,
                onstartStop: Function,
                ondelete: Function,
            },
            computed: {
                startStopBtn: function () {
                    if (this.container.loading) {
                        return "loading";
                    }
                    return this.container.status === "running" ? "STOP" : "START"
                }
            },
            template: `<div class="row grid-container">
                    <div>{{ container.name }}</div>
                    <div class="center">{{ container.status }}</div>
                    <div>
                        <div v-for="port in container.ports">
                            <a v-bind:href="port">{{ port }}</a>
                        </div>
                    </div>
                    <div class="center">
                        <btn-loader class="btn" :click="onstartStop" :label="startStopBtn" :loading="container.loading"></btn-loader>
                    </div>
                    <div class="center">
                        <btn-loader class="btn" :click="ondelete" :label="'Delete'" :loading="container.loading"></btn-loader>
                    </div>
                </div>`
        });

        Vue.component('btn-loader', {
            props: {
                label: String,
                loading: Boolean,
                click: Function,
            },
            computed: {
                computedLabel: function () {
                    return this.loading ? "Loading" : this.label;
                },
            },
            template: `<button :disabled="loading" v-on:click="click">{{ computedLabel }}</button>`,
        })

        var app = new Vue({
            el: '#app',
            data: {
                containers: [],
                services: [],
                loading: false,
            },
            created: function () {
                loadData(this);
            },
            methods: {
                reloadData: function () {
                    loadData(this);
                },
                startStop: function (container) {
                    container.loading = true;
                    const op = container.status === "running" ? "stop" : "start";
                    fetch(`/containers/${op}/${container.id}`)
                        .then(res => res.json())
                        .then(res => {
                            container.loading = false;
                        }).catch(() => {
                            container.loading = false;
                        })

                },
                onDelete: function (container) {
                    container.loading = true;
                    fetch(`/containers/${container.id}`, { method: "DELETE" })
                        .then(res => res.json())
                        .then(res => {
                            const index = this.containers.indexOf(container);
                            containers.splice(index);
                        })
                        .catch(() => {
                            container.loading = false;
                        })
                }
            }
        });
    </script>
</body>

</html>